<div class="container bgcol">
    <div>
        <h3 class="head text-center">About<i> TICKSTER</i></h3>
    </div>
    <hr />
    <div class="text-justify" style="font-size:1.1em">
        <p>
            <i>TICKSTER</i> is a social movie site for discovering new movies, learning about movies and meeting other people who have similar taste in movies with movie data fetched from the Rotten Tomatoes API.
            It allows users to create profile, search, like and review movies and follow other users. It also provides you the showtimes for the movies in your area from the TMS API and lets you book them on Fandango.
            <br />
            It is developed in MEAN (MongoDb, Express, Angular, Nodejs) stack and is fast and highly responsive. It implements infinite/dynamic scrolling, so you get your data as you need!
        </p>
        <u><b>Feature List:</b></u>
        <ul>
            <li><b>Movies Coming Soon: </b> The homepage displays the upcoming movies tickr in a responsive carousal.</li>
            <li><b>Movies In theaters: </b> The homepage shows the movies in theatres in a photo grid which on hover displays the movie details. It is implemented with INFINITE/dynamic SCROLLING, so there are no pages. As you scroll down, more content is loaded</li>
            <li><b>Search: </b> Search for a movie in the search box. Resuts displayed as a table which is also dynamic/infinite scroll enabled.</li>
            <li><b>Movie Details: </b> The Movie Details page shows movie poster, Title, Release Date, Cast,  Plot, Genre, Rating, Audience rating and Critic's Rating. This page is displayed if a user clicks on a particular movie.
            <li><b>Like/Unlike Movie:</b> You can like/unlike the movie by clicking the like icon after logging in. Its like creating a BookMark for a movie</li>
            <li><b>Review:</b> The user and rotten tomatoes reviews are combined into a single section. If you are logged in you can post your own reviews. </li>
            <li><b>Showtimes:</b> User can search for movie screening in his nearby area by typing in Zip code and Date. Data is fetched and you can proceed with booking on Fandango.</b></li>
            <li><b>Profile: </b> The user profile page displays profile picture, email, about user along with his favourite movies and the users he/she follows.</li>
            <li><b>Follow User: </b> A user can click on a username under reviews and see his profile and follow that user. Once followed, a link to this user is available under followed users in the profile page.
            </li>
        </ul>

        <hr />
        <h3>Documentation for this project is available <a href="http://net4.ccs.neu.edu/home/bhumitra/story/index.htm?../documentation/story.txt" target="_blank">here!</a></h3>
        <hr />
        <h3>Demo:</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kZhKXzylfmo" frameborder="0" allowfullscreen></iframe>

    </div>
</div>
